<div class="jumbotron center">
	<h1>My Prescriptions</h1>
	<% if user_signed_in? %>
	This is where I can upload pictures and names of prescriptions I have.
	<% else %>
	<p>Click here to 
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg"%>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg"%>
	</p>
	<% end %>
	<div>